/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************/
/* LAYOUT
/*******************************************/

header {
  width: 100%;
  padding-bottom: 5%;
}
footer {
  width: 100%;
}
.work{
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
.projects figure{
  border: 1px solid black;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
#header{
  background-image: url(../img/space.jpg);
}
#canvas{
  position: static;
}
#mainNav {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin-bottom: 0;
  width: 100%;
  text-transform: uppercase;
  position: fixed;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.3); */
}

#mainNav .navbar-toggler {
  font-size: 14px;
  padding: 11px;
  color: white;
  border: 1px solid white;
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: white;
}

#mainNav .navbar-nav .nav-item {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}
#mainNav.navbar-shrink {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background: black;
}
#mainNav ul{
  margin: 0;
}
#mainNav ul li{
  margin: 2% 5% 2% 0;
  display: inline-block;
}
#mainNav ul li a{
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}
#bars{
  display: none;
}
/* .scrolled{
  transition: 200ms linear;
} */
.me{
  height: 500px;
  text-align: center;
}
.main {
	position: absolute;
	margin: 0;
	padding: 0;
	color: #f9f1e9;
	text-align: center;
	top: 50%;
	left: 50%;
	-webkit-transform: translate3d(-50%,-50%,0);
	transform: translate3d(-50%,-50%,0);
  font-size: 2.2rem;
  color: white;
}
#about figcaption{
  font-size: 1rem;
  margin-top: 5%;
  color: white;
}
.aboutMe{
  padding: 5% 5% 5% 5%;
  text-align: center;
}
.aboutMe h2{
  font-size: 2rem;
  text-decoration: underline;
  text-align: center;
}
#me{
  height: 250px;
  border-radius: 120px;
  margin-left: 10%;
  float: left;
}
.bio{
  width: 60%;
  padding: 0 5% 5% 5%;
  float: left;
}
.bio p{
  font-size: 1.2rem;
  margin-top: 4%;
  font-family: cursive;
  text-align: left;
  float: left;
}
.leader{
  padding: 0 5% 0 5%;
}
.leader p{
  font-size: 1.2rem;
  font-family: cursive;
  text-align: left;
}
.skills{
  background-image: url(../img/blockChain.jpeg);
  padding: 7% 5% 7% 5%;
  text-align: center;
}
.skills h2{
  font-size: 2rem;
  color: white;
}
.column{
  width: 33%;
  margin-top: 5%;
  margin-bottom: 5%;
  float: left;
}
.column figure i{
  font-size: 5rem;
}
.skills section figure h3{
  font-size: 1.5rem;
  color: white;
}
#html{
  color: orange;
}
#node{
  color: green;
}
#css{
  color: yellow;
}
#mongoDB{
  color: white;
}
#javaScript{
  color: red;
}
#react{
  color: blue;
}
.projects{
  padding: 5% 0 5% 0;
}
.projects h2{
  font-size: 1.8rem;
  text-decoration: underline;
  text-align: center;
}
.projects figure{
  height: 200px;
  width: 18%;
  margin: 0 1% 0 1%;
  text-align: center;
  float: left;
}
.projects a{
  text-decoration: none;
  color: black;
}
.projects img{
  height: 160px;
  width: 100%;
}
/* .projects figure{
  height: 280px;
  width: 25%;
  margin: 0 4% 5% 4%;
  border-radius: 25px;
  text-align: center;
  float: left;
} */
.projects figure span{
  font-size: 1rem;
}
#rps{
  font-size: .8rem;
}
.personal{
  display: none;
}
footer{
  padding: 5% 5% 5% 5%;
  background-color: #000;
  clear: both;
}
.links{
  text-align: center;
}
.links h3{
  font-size: 2rem;
  color: white;
}
.links a i{
  font-size: 6rem;
  margin: 0 5% 0 5%;
  color: white;
}
footer p{
  font-size: 1rem;
  margin-bottom: 5%;
  color: white;
}
.hide{
  display: none;
}





/****************************************************/
/**************** Mobile Responsive *****************/
/****************************************************/
@media only screen and (max-width: 500px){
  #canvas{
    height: inherit;
    width: inherit;
  }
  header nav{
    text-align: left;
  }
  header nav ul li{
    display: none;
  }
  h1.main{
    width: 80%;
  }
  figcaption.main{
    margin-top: 15%;
    width: 80%;
  }
  .me{
    height: 200px;
  }
  .hamburger{
    display: inline-block;
  }
  .hamburger i{
    font-size: 2rem;
  }
  .projects figure{
    width: 95%;
    margin: 5% 2.5% 5% 2.5%;
  }
  .display{
    display: none;
  }
  .hide{
    display: block;
  }
  .links a i{
    font-size: 2.5rem;
  }
}



/********************************************************/
/****************** Tablet Responsive *******************/
/*******************************************************/
@media (min-width: 501px) and (max-width: 779px){
  #canvas{
    height: inherit;
    width: inherit;
  }
  h1.main{
    width: 80%;
  }
  figcaption.main{
    margin-top: 10%;
    width: 80%;
  }
  .projects figure{
    width: 30%;
    margin: 5% 1.5% 5% 1.5%;
  }
  footer{
    padding: 2% 2% 2% 2%;
  }
  .display{
    font-size: 1.3rem;
  }
  .links a i{
    font-size: 3.5rem;
  }
}
@media (min-width: 780px) and (max-width: 1024px){
  #canvas{
    height: inherit;
    width: inherit;
  }
  h1.main{
    width: 80%;
  }
  figcaption.main{
    margin-top: 10%;
    width: 80%;
  }
  .links a i{
    font-size: 3.5rem;
  }

}
